{% extends "base.html" %}
{% block content %}
    <main>
        <div class="search_box">
            <input type="text" id="myInputAuth" onkeyup="searchFunctionAuth()" placeholder="Search Authors..." title="Type in a name">
        </div>
        <ul class="list-group mb-4" id="authList">
            {% for i,j in author_cnt %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="#">{{ i }}</a>
                <span class="badge badge-primary badge-pill"><a href="#" class="badge badge-secondary">Total Books: {{ j }}</a></span>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'index' %}" class="btn btn-danger btn-sm spacing">Back: Home</a>
        <a href="#mainHeader" class="btn btn-info btn-sm right_al spacing">Back: Top</a>
    </main>
{% endblock %}