{% extends "base.html" %}
{% block content %}
    <main>
        <section class="content">
            <section class="hero">
                <article class="description">
                    <h2>WHERE THE STORY BEGINS!</h2>
                    <p>The books that help you most are those which make you think that most. The hardest way of learning is that of easy reading; but a great book that comes from a great thinker is a ship of thought, deep freighted with truth and beauty.</p>
                    <a href="{% url 'all_books' %}" class="btn btn-info btn-sm right_al spacing bg_col">See All Books</a>
                </article>
            </section>
            <section class="books top-books">
                <h2 class="books__title">Top Books <a href="{% url 'all_books' %}" class="books__more text_col1">+ more</a></h2>
                <ul>
                    {% for book in object_list %}
                    <li class="top-books__item">
                        <a href="{% url 'details' book.id %}">{{ book.title }}</a>
                        <a href="{% url 'details' book.id %}"><i class="fa fa-book al_right"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            <section class="must_reads">
                <h2 class="must_reads_h2">Must Reads</h2>
                <div class="contain">
                    <table class="must_reads__table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Country</th>
                                <th>Pages</th>
                                <th>Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rbook,j in random_books %}
                            <tr>
                                <td><a href="{% url 'details' rbook.id %}" class="text_col">{{ rbook.title }}</a></td>
                                <td>{{ rbook.author }}</td>
                                <td>{{ rbook.country }}</td>
                                <td>{{ rbook.pages }}</td>
                                <td class="rbook_year">{{ rbook.year }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="must_reads">
                <h2 class="must_reads_h2">Books Slideshow</h2>
                <div class="books_container">
                    {% for rbook,j in random_books %}
                    <div class="mySlides">
                        <div id="num" class="numbertext"></div>
                        <a href="{% url 'details' rbook.id %}"><img class = "img__align" src="static/{{ rbook.imageLink }}" style="width:100%" alt="{{ rbook.title }}"></a>
                    </div>
                    {% endfor %}
                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>
                    <div class="caption-container">
                        <p id="caption"></p>
                    </div>
                     <div class="row_book_slider">
                        {% for rbook,j in random_books %}
                        <div class="column">
                            <img class="demo cursor" src="static/{{ rbook.imageLink }}" style="width:100%" onclick="currentSlide({{ j }})" alt="{{ rbook.title }}">
                        </div>
                        {% endfor %}
                     </div>
                </div>
            </section>
            <section class="books recent-books">
                <h2 class="books__title">Latest Books <a href="{% url 'all_books' %}" class="books__more text_col1">+ more</a></h2>
                <ul>
                    {% for i in latest_books %}
                    <li class="snippet open_BookDialog" data-toggle="modal" data-target="#myModel">
                        <img class="snippet__thumbnail" src="static/{{ i.imageLink }}" alt="{{ i.title }}">
                        <h3 class="snippet__title" id="bname">{{ i.title }}</h3><h5 id="bauth">by: {{ i.author }}</h5>
                        <p class="snippet_text_align">Description Loading...</p>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </section>
{#      /*Modal*/#}
        <div class="modal fade" id="myModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <article>
                            <img id="modalImage" class="img-responsive center_img" src="" alt="Image of selected book">
                            <br />
                            <h4>Decription:</h4>
                            <br />
                            <p id="book_desc" class="text-justify"> Server-side code written in Python to store a list of my favorite movies, including box art imagery and a movie trailer URL. This data is then served to a web page using HTML and CSS allowing visitors to review these movies and watch the trailers.</p>
                        </article>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><a href="#" class="open_details">Full Details</a></button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}